@model DataAccessLayer.Models.Topic

<div class="modal show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close back" data-dismiss="modal" area-hidden="true">X</button>
                <h4>Edit Topic Name</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content registerBox">
                        <div class="form text-center">
                            @using (Html.BeginForm("EditTopic", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.TopicID)
                                @Html.TextBoxFor(model => model.TopicName, new { @class = "textarea", @placeholder = "Topic Name", @style = "margin-bottom: 15px;" }) @Html.ValidationMessageFor(model => model.TopicName)
                                <input class="btn btn-register" type="submit" value="Edit Topic Name" name="commit">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
