<div class="modal show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>@ViewBag.Message</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info back">OK</button>
            </div>
        </div>
    </div>
</div>
