<div class="modal show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close back" data-dismiss="modal" area-hidden="true">X</button>
                <h2>@ViewBag.ResultTitle</h2>
            </div>
            <div class="modal-body">
                <h4>@Html.Raw(ViewBag.Message)</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info back">OK</button>
            </div>
        </div>
    </div>
</div>